.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url('/assets/Hero/HeroBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 0;
  position: relative;
  padding-top: 200px;
}

.layer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  position: relative;
}


.title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 755px;
  height: 268px;
  gap: 12px;
  h1{
    font-family: 'Fira code' monospace;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    font-weight: 400;
  }

  h2{
    font-family: 'Karla' sans-serif;
    color: white;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.02em;
    font-size: 96px;
    gap:12px;
  }
}

.button-group {
  display: flex;
  gap: 20px;
}

.button {
  width: 172px;
  height: 48px;
  padding: 0 24px;
  border-radius: 100px;
  border: 1px solid white;
  background: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: all 300ms ease-out;
  z-index: 10;

    &:hover {
    background: #3DCFB6;
    color: white;
    transform: translateY(-2px);
  }

}

.wippe-wrapper {
  width: 100vw;
  overflow: visible;
  z-index: 2;
}

.wippe-bar {
  width: 110vw; 
  padding: 12px 32px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5.3px);
  transform: rotate(-3deg);
  transform-origin: center;
  margin-left: -5vw; 
  border-radius: 12px;
  
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  span {
  display: inline-block;
}
}

.marquee-track {
  display: flex;
  align-items: center;
  gap: 32px;
  white-space: nowrap;
  animation: marquee 12s linear infinite;
  width: max-content;
  will-change: transform;
  transform: translate3d(0,0,0)
}

.marquee-content { 
  display: flex; 
  gap: 54px; 
}

.marquee-item {
  display: flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
  gap: 54.72px;
}

.radio {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  display: block;
}

.marquee-text {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0;
  color: #3DCFB6;
  display: block;
    &:after { content: ""; display: block; width: 100%; height: 100%; background: inherit;}
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.hero-left {
  position: relative;
  padding-left: 96px;
  height: 100%; 
  pointer-events: none;
  bottom: 85px;
  display: flex;
  align-self: flex-start;
}

.hero-vector {
  position: absolute;
  transform: translateX(-50%);
  z-index: 1;
}


.scroll-wrapper {
  position: absolute;
  bottom: 30px;
  transform: translateX(-50%);
  width: 30px;
  height: 48px;
}

.scroll-border,
.scroll-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.scroll-inner {
  left: 8.5px;
  top: 20px;
  animation: scrollBounce 1.4s ease-in-out infinite;
}

@keyframes scrollBounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(8px); }
  100% { transform: translateY(0); }
}
