.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: -999;
  position: relative;
}
