
.about-section {
  width: 100%;
  min-height: 100vh;
  background: #1C1C1C;
  display: flex;
  justify-content: center;
  padding: 160px 0;
}

.about-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 96px;
  color: white;
}
