body{
    margin: 0;
}

body {
  position: relative;
  background: #0a0a0a;
  overflow: hidden;
  cursor: url('/assets/Body/arrow_selector_tool.svg')12 12, auto;
  user-select: none;
}

body::before {
  content: "";
  position: fixed;
  top: var(--y);
  left: var(--x);
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle, #3DCFB680 0%, transparent 70%);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

body:hover::before {
  opacity: 1;
}




@font-face {
  font-family: 'Fira Code';
  src: url('/Fonts/Fira_code/static/FiraCode-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/Fonts/Fira_code/static/FiraCode-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/Fonts/Fira_code/static/FiraCode-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Karla';
  src: url('/Fonts/Karla/Karla/static/Karla-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Karla';
  src: url('/Fonts/Karla/static/Karla-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/Fonts/Fira_code/static/FiraCode-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/Fonts/Fira_code/static/FiraCode-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/Fonts/Fira_code/static/FiraCode-Bold.ttf') format('truetype');
  font-weight: 700;
}
